<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hentai spider</title>
    <link href="layui/css/layui.css" rel="stylesheet">
</head>
<body>

    <div class="layui-row layui-col-space5">

        <div class="layui-col-md3">
        </div>

        <div class="layui-col-md6">
            <table class="layui-table" lay-data="{url:'/json/table/demo1.json?v=2', page: true, limit: 6, limits:[6], cellMinWidth: 80}" id="artist-table">
                <thead>
                <tr>
                    <th lay-data="{checkbox:true}" rowspan="2"></th>
                    <th lay-data="{field:'username'}" rowspan="2">联系人</th>
                    <th lay-data="{fixed: 'right', width: 180, align: 'center', toolbar: '#templet-demo-theads-tool'}" rowspan="2">操作</th>
                </tr>
                </thead>
            </table>
        </div>

        <div class="layui-col-md3">
        </div>
    </div>


    <script src="layui/layui.js"></script>

    <script type="text/html" id="templet-demo-theads-tool">
        <div class="layui-clear-space">
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">按钮1</a>
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">按钮2</a>
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">按钮3</a>
        </div>
    </script>

</body>
</html>